services:

  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: todolistdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d todolistdb"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - appnet

  app:
    build: .
    container_name: flask-app
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_NAME: todolistdb
      DB_USER: admin
      DB_PASSWORD: admin123
    ports:
      - "5000:5000"   # <-- CORREGIDO
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet:
