services:
  - type: web
    name: flask-todolist
    runtime: docker
    repo: https://github.com/tu_usuario/tu_repo
    branch: main
    plan: starter
    envVars:
      - key: DB_HOST
        fromService:
          name: flask-postgres
          type: postgres
          property: host

      - key: DB_NAME
        fromService:
          name: flask-postgres
          type: postgres
          property: database

      - key: DB_USER
        fromService:
          name: flask-postgres
          type: postgres
          property: user

      - key: DB_PASSWORD
        fromService:
          name: flask-postgres
          type: postgres
          property: password

      - key: FLASK_ENV
        value: production

    # El puerto expuesto en el Dockerfile es 8000
    envVars:
      - key: PORT
        value: "8000"

    healthCheckPath: /

databases:
  - name: flask-postgres
    plan: free
    databaseName: todolistdb
    user: admin
